@using braingrow.Core
@{
  ViewBag.Title = "Home Page";
  Category category = ViewBag.Category as Category;
  List<Category> categories = ViewBag.SubCategories as List<Category>;
  List<Resource> resources = ViewBag.Resources as List<Resource>;
}

<div class="jumbotron">
  <h1>@(category == null ? "Root" : category.Name)</h1>
  <p class="lead">@(category == null ? "Description" : category.Description)</p>
</div>

@{
  int index = 0;
  foreach (var resource in resources)
  {
    if (index % 3 == 0)
    {
      <text>@Html.Raw("<div class=\"row\">")</text>
    }
    if (resource is HyperlinkResource)
    {
      <text>@Html.Partial("~/Views/Home/_HyperlinkResource.cshtml", resource)</text>
    }
    else if (resource is ViewResource)
    {
      <text>@Html.Partial("~/Views/Home/_ViewResource.cshtml", resource)</text>
    }
    else
    {
      <text>@Html.Partial("~/Views/Home/_UnknownResource.cshtml", resource)</text>
    }
    if (index % 3 == 2 || index == resources.Count - 1)
    {
      <text>@Html.Raw("</div>")</text>
    }
    index++;
  }
}

@{
  index = 0;
  foreach (var subCategory in categories)
  {
    if (index % 3 == 0)
    {
      <text>@Html.Raw("<div class=\"row\">")</text>
    }
    <text>@Html.Partial("~/Views/Home/_Category.cshtml", subCategory)</text>
    if (index % 3 == 2 || index == categories.Count - 1)
    {
      <text>@Html.Raw("</div>")</text>
    }
    index++;
  }
}
